<div class="container">
  <div class="row">
    <div class="col">
      <div>
        {{ indice + 1 }}: {{ empleadoDeLista.nombre }}
        {{ empleadoDeLista.apellido }}
        {{ empleadoDeLista.cargo }}
        {{ empleadoDeLista.salario }}
        <a
          [routerLink]="['/actualiza', indice]"
          [queryParams]="{ accion: '1' }"
          class="m-2"
        >
          Actualizar Empleado
        </a>

        <a
          [routerLink]="['/actualiza', indice]"
          [queryParams]="{ accion: '2' }"
        >
          Eliminar Empleado
        </a>
      </div>

      <ul style="list-style: none">
        <li *ngFor="let caracteristica of arrayCaracteristicas">
          {{ caracteristica }}
        </li>
      </ul>
      <app-caracteristicas-empleado-c
        (caracteristicasEmpleados)="agregarCaracteristicas($event)"
      ></app-caracteristicas-empleado-c>
    </div>
  </div>
</div>
